.booking {
    background-color: #f4f9fb;
    background-image: url("../../assets/imges/line-bg2.cfded2fdf8e1798442e4.png");
    padding-top: 50px;
}
.booking .container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking .container .bok-form,
.booking-page .container .bok-form {
    width: 450px;
}
.booking .container .bok-form,
.booking-page .container .bok-form{
    z-index: 100;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 0 10px #c0c0c0;
    border-radius: 50px;
    padding: 20px;
    position: relative;
}
.booking .container .bok-form::before,
.booking-page .container .bok-form::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #1016cd;
    border-color: #1016cd transparent transparent #1016cd;
    border-radius: inherit;
    left: -2%;
    top: -2%;
    z-index: -1;
}
.booking .container .bok-form .heading,
.booking-page .container .bok-form .heading {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #1f2278;
}
.booking .container .img {
    width: 55%;
    display: flex;
    position: relative;
    overflow: hidden;
}
.booking .container .img img:first-child {
    width: 700px;
}
.booking .container .img img:last-child {
    height: 550px;
    position: absolute;
    bottom: 3%;
    right: 1%;
}
@media(max-width: 1399px) {
    .booking .container .img img:first-child {
        width: 500px;
    }
    .booking .container .img img:last-child {
        height: 400px;
        right: 17%;
    }
}
@media(max-width: 1199px) {
    .booking .container .img img:first-child {
        width: 500px;
    }
    .booking .container .img img:last-child {
        height: 400px;
        right: 3%;
    }
}
@media(max-width: 991px) {
    .booking .container {
        flex-direction: column;
        gap: 0;
    }
    .booking .container .bok-form {
        margin-bottom: 20px;
    }
    .booking .container .img,
    .booking .container .bok-form {
        width: 100%;
    }
    .booking .container .img img:last-child {
        right: 25%;
    }
}
@media(max-width: 767px) {
    .booking .container .img img:first-child {
        width: 400px;
    }
    .booking .container .img img:last-child {
        height: 300px;
        right: 20%;
    }
}
@media(max-width: 550px) {
    .booking .container .img img:first-child {
        width: 370px;
    }
    .booking .container .img img:last-child {
        height: 280px;
        right: 0;
    }
}